backups:
  full:
    enabled: true
    debug: true
    schedule: "*/15 * * * *"
  destination: minio://minio.{{ env "MINIO_NAMESPACE" | default "minio" }}.svc:9000/dgraph
  minioSecure: false
  keys:
    minio:
      access: {{ requiredEnv "MINIO_ACCESS_KEY" }}
      secret: {{ requiredEnv "MINIO_SECRET_KEY" }}
alpha:
  configFile:
    config.yaml: |
      security:
        whitelist: 10.0.0.0/8,172.0.0.0/8,192.168.0.0/16
