---
provider: azure
azure:
  resourceGroup: ${resource_group}
  tenantId: ${tenant_id}
  subscriptionId: ${subscription_id}
  useManagedIdentityExtension: true
logLevel: ${log_level}
domainFilters:
  - ${domain}
txtOwnerId: external-dns

resources:
  limits:
    cpu: ${limit_cpu}
    memory: ${limit_memory}
  requests:
    cpu: ${request_cpu}
    memory: ${request_memory}